# Ignore all files inside the STT models folder
app/stt_models/*

# Keep the directory in the repository (create a `.gitkeep` file if you want
# the empty folder to be tracked). The following rule prevents `.gitkeep`
# from being ignored.
!app/stt_models/.gitkeep

#venv
.venv

#venv content
.venv/*

#Local database
app/db/aurelius.db

#build app
build/

#distribution app
dist/